

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Discharge and Bill</title>

<style type="text/css">
tr td {
	text-align: left;
	font-size: 15px
}

.table tr td {
	border-collapse: collapse;
	border: 1px solid gray;
	padding-bottom: 1px;
	padding-top: 1px;
}
.table tr th {
	border-collapse: collapse;
	border: 1px solid gray;
	padding-bottom: 1px;
	padding-top: 1px;
}

.c {
	text-align: center;;
}

.hospitalName {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px
}

.totalRows td {
	font-weight: bold;
}
</style>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
	$(function() {
		$("#header").load("billingHeader");
		$("#footer").load("footer");
	});
	function printDiv(divName) {
		var printContents = document.getElementById(divName).innerHTML;
		var originalContents = document.body.innerHTML;

		document.body.innerHTML = printContents;

		window.print();

		document.body.innerHTML = originalContents;
	}
</script>
</head>
<body>
	<div id="header"></div>
	<div id="printableArea" style="height: auto; width: 70%; margin: auto; background-color: #FAFAFA; padding: 25px" th:each="object:${patient}">

		<div style="width: 10%; margin-left: 20px; height: 120px; float: left;">

			<img th:src="@{/photo/logo.png}" class="card-img-top" alt="photo" height="80px" width="80px">
		</div>

		<div style="width: 80%; height: 120px; float: left;">
			<p class="hospitalName">Square Hospital Ltd</p>
			<p style="text-align: center; font-size: 13px; margin: 0px">179/1 Panthopath, Dhaka, Bangladesh</p>
			<p style="text-align: center; font-size: 22px; font-weight: bold;">Discharge Bill</p>

		</div>

		<div>

			<table style="width: 100%">
				<tr style="border-bottom: 1px solid Black">
					<td style="font-size: 25px; width: 150px">Patient Info</td>
					<td>:</td>
					<td style="font-size: 25px; text-align: right;" th:text=${today_date}></td>
				</tr>
			</table>


			<table style="width: 100%">

				<tr>

					<td style="width: 150px">Patient Id</td>
					<td>:</td>
					<td style="width: 250px" th:text=${object.id}></td>
					<td style="width: 110px">Patient Age</td>
					<td>:</td>
					<td th:text=${object.age}></td>

				</tr>
				<tr>
					<td>Patient Name</td>
					<td>:</td>
					<td th:text=${object.name}></td>
					<td>Gender</td>
					<td>:</td>
					<td th:text=${object.gender}></td>
				</tr>
				<tr>
					<td>Mobile Number</td>
					<td>:</td>
					<td th:text=${object.mobile}></td>
					<td>Problem</td>
					<td>:</td>
					<td th:text=${object.problem}></td>
				</tr>
				<tr>
					<td>Consultant Name</td>
					<td>:</td>
					<td th:text=${object.doctor}></td>
					<td>Address</td>
					<td>:</td>
					<td th:text=${object.address}></td>
				</tr>


			</table>
		</div>
		<div style="height: 550px">
			<table class="table" style="width: 100%">
				<tr>
					<th style="width: 90px; text-align: center;">Serial No.</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Amount (taka)</th>
				</tr>
				<tr>
					<td class="c">1</td>
					<td style="padding-left: 5px">Bed charge (per day <span th:text="${bed_rate} +' ' + taka"></span> taka)
					</td>
					<td style="text-align: center; width: 120px" th:text="${totalDays} +' ' + days"></td>
					<td style="text-align: right; width: 120px" th:text="${totalBedCharge}"></td>
				</tr>
				<tr>
					<td class="c">2</td>
					<td style="padding-left: 5px">Doctor Visit or Round fee (Per times 800 taka)</td>
					<td style="text-align: center; width: 120px" th:text="${totalDays} +' ' + times"></td>
					<td style="text-align: right; width: 120px" th:text="${visitigFee}"></td>
				</tr>
				<tr>
					<td class="c">3</td>
					<td style="padding-left: 5px">Nurse Fee (Per day tk. 300)</td>
					<td style="text-align: center; width: 120px" th:text="${totalDays} +' ' + days"></td>
					<td style="text-align: right; width: 120px" th:text="${nursFee}"></td>
				</tr>
				<tr th:each="object,iterate1:${medicineCost}">
					<td class="c" th:text="${iterate1.index} +4"></td>
					<td style="padding-left: 5px" th:text="${object.medicine_name}"></td>
					<td style="text-align: center; width: 120px" th:text="${object.quantity} +' ' +  psc"></td>
					<td style="text-align: right; width: 120px" th:text="${object.total}"></td>

				</tr>
				<tr th:each="object,iterate:${diagnosticCost}">
					<td class="c" th:text="${iterate.index} +1 +${leanth}"></td>
					<td style="padding-left: 5px" th:text="${object.test_name}"></td>
					<td style="text-align: center; width: 120px">1 times</td>
					<td style="text-align: right; width: 120px" th:text="${object.total} "></td>

				</tr>
				<tr>
					<td colspan="3" style="text-align: center; font-weight: bold;">Total Cost</td>
					<td style="text-align: right; width: 120px; font-weight: bold;" th:text="${totalCost}"></td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; font-weight: bold;">Total Deposit</td>
					<td style="text-align: right; width: 120px; font-weight: bold;" th:text="${totalDeposit} +'.0'"></td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; font-weight: bold;">Balance</td>
					<td style="text-align: right; width: 120px; font-weight: bold;" th:text="${balance}"></td>
				</tr>
			</table>
			<p style="text-align: left; font-size: 22px" th:text=${totalInWord}></p>
		</div>



		<br> <br> <br> <br> <br> <br>

		<div style="width: 200px; margin-left: 530px">
			<table>
				<tr>
					<td style="text-align: center;"><SPAN STYLE="text-decoration: overline"> Bill Prepared By </SPAN></td>
				</tr>
				<tr>
					<td style="text-align: center;">Md Maharam ali</td>
				</tr>
				<tr>
					<td style="text-align: center;">Senior Receptionis</td>
				</tr>
			</table>
		</div>
		<br>
		<!--  -->

		<br> <br>
		<div style="background-color: #EAEBEC">
			<table>
				<tr>
					<td>Contact Us:</td>
				</tr>
				<tr>
					<td>Tel: +88 02 900 8884</td>
					<td style="padding-left: 20px">Mobile : 01710279904</td>
					<td style="padding-left: 20px">Email : square24@gmail.com</td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<input style="margin-top: 30px" type="button" onclick="printDiv('printableArea')" value="Print and Save" />
	</div>

	<h4 th:text="${msg}"></h4>

	<div id="footer"></div>
</body>
</html>