

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Employee</title>

<style type="text/css">
tr td {
	text-align: left;
}

td input {
	width: 300px;
	height: 35px;
	font-size: 15px;
}
select{
width: 300px;
	height: 35px;
	font-size: 15px;
}

table tr td {
	padding-top: 20px;
}
</style>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
	$(function() {
		$("#header").load("loginHeader");
		$("#footer").load("footer");
	});
</script>
</head>
<body>
	<div id="header"></div>
	<h3 style="text-align: center;">LogIn!!</h3>
	<hr>
	<div style="margin: auto; width: 40%; padding-left: 85px ; background-color: #F78FE8 ">
		<form action="login" method="post">
			<table>
				
				<tr>
					<td>Email ID</td>
					<td>:</td>
					<td><input type="email" name="email" placeholder="Enter Your email id" required="required"></td>
				</tr>
				
				<tr>
					<td>Password</td>
					<td>:</td>
					<td><input type="password" name="password" placeholder="Enter your password" required="required"></td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; padding-top: 25px">
						<input style="width: 100px; background-color: #4CD6F1;"
						type="submit" value="Save">
					</td>
				</tr>
			</table>
		</form>
		<br>
		<h4 th:text="${alert}"></h4>
		
	</div>
	<div id="footer"></div>
</body>
</html>